.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
.App-header{
  background-color: rgb(40, 58, 98);
  color: #Fff;
  width: 100%;
  text-align: center;
  padding: 0.7rem;
  
}
h4{
  font-size: 1.5rem; 
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.search{
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.search label {
  display:none
}
.search input {
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  font-size: 15px;
  padding: 10px;
  width: 350px;
}
.search button {
  background-color: rgb(40, 58, 98);
  color: #Fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  
}
.search button:hover {
  background-color: blue;
}
.output{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 20px;
}
.output p {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  font-size: 15px;
  padding: 1rem;
  margin-bottom: 10px;
  width: 500px;
  text-align: center;
}